name: Auto-comment-issue

on:
  issues:
    types: opened

jobs:
  add_comment:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    outputs:
      COMMENT_ID_X: ${{ steps.add_comment.outputs.COMMENT_ID }}
    steps:
      - name: Show payload
        run: echo "$VAR_EVENT_PAYLOAD"
        env: 
          VAR_EVENT_PAYLOAD: ${{ toJson(github.event) }}

      - name: Add a comment
        id: add_comment
        run: |
           echo "Issue number is: $ISSUE"
           echo "Repo full name is: $REPO"
           echo "The token is: $GH_TOKEN"
           COMMENT_ID=$(gh issue comment $ISSUE --body "Ohh thank you for contacting us!" --repo $REPO)
           echo "COMMENT_ID=$COMMENT_ID" >> $GITHUB_OUTPUT
        env: 
          ISSUE: ${{ github.event.issue.number }}
          REPO: ${{ github.event.repository.full_name }}
          # GH_TOKEN: ${{ github.token }}
          GH_TOKEN: ${{ secrets.PAT_FOR_MY_REPO }}
          
      - name: Show the ID
        run: |
          echo "COMMENT_ID IS: $COMMENT_ID"
        env: 
          COMMENT_ID: ${{ steps.add_comment.outputs.COMMENT_ID }}
   
  display_id:
    runs-on: ubuntu-latest
    needs: add_comment
    steps:          
      - name: Display the value form previous job
        run: echo "THE VALUE FORM PREVIOUS JOB WAS $COMMENT_ID"
        env:
          COMMENT_ID: ${{ needs.add_comment.outputs.COMMENT_ID_X }}


    
