name: Auto-comment-issue

on:
  issues:
    types: opened

jobs:
  add_comment:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Show payload
        run: echo "$VAR_EVENT_PAYLOAD"
        env: 
          VAR_EVENT_PAYLOAD: ${{ toJson(github.event) }}

      - name: Add a comment
        run: |
           echo "Issue number is: $ISSUE"
           echo "Repo full name is: $REPO"
           echo "The token is: $GH_TOKEN"
           gh issue comment $ISSUE --body "Ohh thank you for contacting us!" --repo $REPO
        env: 
          ISSUE: ${{ github.event.issue.number }}
          REPO: ${{ github.event.repository.full_name }}
          GH_TOKEN: ${{ github.token }}
   
          


    
