name: The first pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download the code 
        uses: actions/checkout@v4

      - name: List all dirs recursively
        run: ls -Rla

      - name: Wait 5 seconds
        run: sleep 5

      - name: Run a one-line script
        run: echo Hello, world!

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
